{#{% extends 'base.html.twig' %}#}

{#{% block body %}#}
{#    hello test#}
{#    {% if error %}#}
{#        <div class="alert alert-danger">#}
{#            {{ error.messageKey|trans(error.messageData, 'security') }}#}
{#        </div>#}
{#    {% endif %}#}

{#    <form action="{{ path('security_login') }}" method="post">#}
{#        <div>#}
{#            <div class="form-group">#}
{#                <label class="form-control-label required" for="username">Username</label>#}
{#                <input type="text" id="username" name="_username" required="required" class="form-control"#}
{#                       value="{{ last_username }}">#}
{#            </div>#}
{#            <div class="form-group">#}
{#                <label class="form-control-label required" for="password">Password</label>#}
{#                <input type="password" id="password" name="_password" required="required" class="form-control">#}
{#            </div>#}
{#            <div class="form-group">#}
{#                <button type="submit" id="Login" name="Login" class="btn-secondary btn">Login</button>#}
{#            </div>#}
{#            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">#}
{#            <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}">#}
{#        </div>#}
{#    </form>#}
{#{% endblock %}#}
{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <div class="hdr-ctnr" id="header">
    <header id="mrtn-header">
        <div id="mrtn-navsearch" class="search search--extended">
            <input id="fake-search-field2" name="aqt" type="search" placeholder="Je cherche une recette">
        </div>
        <div class="mrtn-header__top">
            <div id="mrtn-navbar" class="search">
                <a href="{{ path('home') }}" class="mrtn-logo">
                    <img height="100" width="100" src="/images/logo/logoF.png">
                    <br>
                </a>
                <div class="separator"></div>
                <a class="mrtn-search">
                    <i class="icon-icon_search"></i>
                </a>
                <a href="/recettes/selections.aspx" class="mrtn-whipe">
                    <i class="icon-fouet"></i>
                    <a href="https://www.marmiton.org/dossier-noel/" class="mrtn-special-link">
                        <img class="header-icon-noel" src="https://assets.afcdn.com/recipe/20191106/102027_w96cxt0cyt0cxb177cyb177.png" />
                    </a>

                    <a href="/astuce-assiette-sc28.html" class="mrtn-special-link">
                        <img class="header-icon-noel" src="https://assets.afcdn.com/recipe/20190118/86319_w96h96c1.png" />
                    </a>

                    <div class="separator"></div>



            </div>


            <div class="mrtn-login-zone">
                <a href="{{ path('security_login') }}" class="mrtn-login-link mrtn-login-link--disconnected mrtn-btn mrtn-btn-primary">
                    <i class="icon-icon_profile" ></i><span>Sign in</span>

                </a>
                &nbsp &nbsp
                <a href="{{ path('user_register') }}" class="mrtn-login-link mrtn-login-link--disconnected mrtn-btn mrtn-btn-primary">
                    <i class="icon-icon_profile"></i>  <span> Register</span>
                </a>
            </div>

        </div>
    </header>

    <div id="close-menu-mobile" class="close-menu-mobile">
        <i class="icon-icon_cross_big"></i>
    </div>
    <div id="drawer">
        <div class="nav-wrapper">
        </div></div>
    <div class="snow"></div>
    <div id="content">
    <div class="login-form">
    <h2><br>Connectez-vous facilement	</h2>
    <div class="af_popup_form">

    <form action="{{ path('security_login') }}" method="post">
        <div>
            <div class="form-group">
                <label class="form-control-label required" for="username">Username</label>
                <input type="text" id="username" name="_username" required="required" class="form-control"
                       value="{{ last_username }}">
            </div>
            <div class="form-group">
                <label class="form-control-label required" for="password">Password</label>
                <input type="password" id="password" name="_password" required="required" class="form-control">
            </div>

            <p class="text-center">
                <input type="submit" id="Login" name="Login" value="se connecter" ></input>
            </p>
            <p class="text-center">
                <a href="{{ path('user_register') }}" class="btn" id="register-action">
                    Cliquez ici pour créer un compte				</a>
            </p>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}">
        </div>
    </form>
{% endblock %}